/* nolint:gosec */

@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-xl {
    @apply w-24;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;

}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
}

.msg-input {
    border-width: 0 !important;
}

input,
button {
    border-radius: 7px !important;
}